header{
    background-color: #0a1a31;
    /* display: flex;
    justify-content: space-between; */
    
    border-bottom: 10px solid #494949;
    padding: 5px 10px;
}
.menu{
    background: url("../../assets/img/pic-100.png") no-repeat left;
    background-size: contain;
    text-align: right;
    margin: 5px 20px;
}
/* 
.logo{
    width: 60px;
} */
.menu a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
}