

header{
    background-color: #4C5B84;
    display: flex;
    justify-content: space-between;
    
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

.logo{
    width: 60px;
}

a{
    display: inline-flex;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

    margin-right: 30px;
    line-height: 30px;

    
    transition: transform 200ms linear;
}
a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
a:hover{
    color: #F25A70;
    transform: scale(1.08);
}
.button{
    display: inline-block;
    background-color: #F25A70;
    padding: 17px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
}
.button:hover{
    color: #4c5b84;
}

.titles{
    display: inline-block;
    background-color: #3A4042;
    padding: 35px 65px;
    margin-top: 80px;
    margin-left: 74px;

    box-shadow: 10px 10px 0 #000;
    color: #F25A70;
    font-family: 'Press Start 2P', monospace;
    text-shadow: 4px 4px 0px #000000;
    text-align: center;
    
}
.titles h1{
    color: #F25A70;
    font-size: 40px;
    margin-bottom: 20px;

}

.titles>h2{
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
}
.box-title{
    background-image: url("../../assets/img/backg01.png") ;
    height: 100vh;
}

.buttons{
    margin-top: 38px;
    margin-left: 150px;

}
.buttons>a{
    margin-right: 70px;
}