h1, h2{

    color: #fff;
    font-family: "Press Start 2P", monospace;
}
.box-skills{
    color: whitesmoke;
}
.buttons{
    text-align: center;
    line-height: 180px;

}
.buttons>a{
    margin-right: 70px;
    
}

.box-section{
    box-sizing: border-box;
    /* background-image: url("../../assets/img/backg01.png") ;
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(180deg, #FF00F1 0%, #4770FF 58.75%, #005578 99.48%);
}

.wrapper{
    height: 680px;
    width: 800px;
}

/* dd img{
    float: left;
} */
/* 
.box-skills{
    
    border-top: 10px solid black;
    height: 680px;
    border-bottom: 10px solid rgb(255, 208, 0);
    position: relative;
}


.skill{
    
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill h3{
    display: inline;
    vertical-align: text-top;
} */