h1, h2{
    color: #fff;
    font-family: "Press Start 2P", monospace;
}

a{
    font-family: 'Fira Code', monospace;
    display: inline-flex;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

    margin-right: 30px;
    line-height: 30px;
    
    transition: transform 200ms linear;
}
a:hover{
    color: #F25A70;
    transform: scale(1.08);
    cursor: pointer;
}

.box-skills{
    color: whitesmoke;
}
.buttons{
    text-align: center;
    line-height: 180px;

}
.buttons>a{
    margin-right: 70px;
    
}

.wrapper{
    height: 680px;
    width: 800px;
}
.project{
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #ffffff;
    margin-bottom: 90px;
}
.wrapper-prejects{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    
}
.project img{
    /* display: block; */
    /* margin: 0 auto 0 auto; */
    padding: 10px;
    width: 260px;
    height: 260px;
}
.azul{
    background-color: #0a1a31;
}
.roxo{
    background-color: #7C5E99;
}
.cinza{
    background-color: #444444;
    
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #494949;
    color: #fff;
}
/* dd img{
    float: left;
} */
/* 
.box-skills{
    
    border-top: 10px solid black;
    height: 680px;
    border-bottom: 10px solid rgb(255, 208, 0);
    position: relative;
}


.skill{
    
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill h3{
    display: inline;
    vertical-align: text-top;
} */