
.box-section{
    box-sizing: border-box;
    /* background-image: url("../../assets/img/backg01.png") ;
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(180deg, #FF00F1 0%, #4770FF 58.75%, #005578 99.48%);
}

.section{
    border-top: 10px solid black;
    border-bottom: 10px solid #7C5E99;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section.projects{
    background-color: black;
    border-top: none;
    border-bottom: 10px solid #F25A70;
}

.section.description{
    border-top: none;
    background-color: #5e3386;
    color: white;
}
.wrapper-description p{
    font-size: 25px;
    font-family: 'Fira Code', monospace;
}