
.skill{
    /* font-family: "Press Start 2P", monospace; */
    display: flex;
    margin-bottom: 40px;
}
.wrapper-skills{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto 0 auto;

}
.skill:nth-child(odd){
    margin-right: 100px;
}
.skill img{
    margin-right: 20px;
    width: 80px;
}
.skill h3{
    margin-bottom: 15px;
    font-size: 25px;
}
.-skill{
    /* border: 1px solid #c300ff; */
    width: 320px;
}
.progress-bar{
    background-color: #fff;
    border: 5px solid black;
    height: 30px;
    width: 95%;
}

.progress-bar::-webkit-progress-bar, .progress-bar::-moz-progress-bar{
    background-color: #d04edb;
}