

.baner{
    display: inline-block;
    background-color: #3A4042;
    padding: 35px 65px;
    margin-top: 60px;
    margin-left: 74px;

    box-shadow: 10px 10px 0 #000;
    text-shadow: 4px 4px 0px #000000;
    text-align: center;
}
.baner h1{
    color: #F25A70;
    font-size: 40px;
    margin-bottom: 20px;
}

.baner>h2{
    margin-top: 10px;
    font-size: 30px;
}

.box-skills h2{
    font-size: 40px;
    text-align: center;
}